.search-bar{
    display: flex;
    padding: 1.5vh 0;
    align-items: center;
    justify-content: center;
    height: 3vh;
    width: 100%;
    background-color: hsl(0, 0%, 7%);
}

.text-input{
    font-family: "Dubai Light", serif;
    border-width: 0;
    outline: 0;
    border-radius: 2px;
    width: 42%;
    height: 3vh;
    color: hsla(0,0%,0%,0.90);
    padding-left: 1%;
    background: rgb(255, 255, 255);
    margin-right: 16%;
}

.text-input::placeholder {
    color: hsla(0,0%,0%,0.45);
}

.search-button{
    position: relative;
    align-self: center;
    width: 18px;
    z-index: 2;
    right: 18%;
    cursor: pointer;
}

.logo{
    align-self: center;
    height: 3.2vh;
    width: 40px;
    margin-right: 5%;
    cursor: pointer;
}